<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th style="width: 10%" scope="col">Posted</th>
      <th style="width: 10%" scope="col">Zip Code</th>
      <th style="width: 15%" scope="col">Availability</th>
      <th style="width: 25%" scope="col">Classifications</th>
      <th style="width: 40%" scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    <% services.each do |s| %>
      <tr>
        <td onclick="window.location='/services/<%= s.id %>';" class="service-link-cell"><%= s.created_at.in_time_zone("Eastern Time (US & Canada)").strftime("%F %H:%M") %></td>
        <td onclick="window.location='/services/<%= s.id %>';" class="service-link-cell"><%= s.location %></td>
        <td onclick="window.location='/services/<%= s.id %>';" class="service-link-cell"><%= s.availability %></td>
        <td onclick="window.location='/services/<%= s.id %>';" class="service-link-cell"><%= s.classifications.collect(&:name).join(", ") %></td>
        <td>
          <%= s.description %><br>
          <a href="<%= reviews_path(s.user.id) %>"><i><%= s.user.username %>
          <%= render :partial => 'layouts/stars', :locals => { :user => s.user, :role => "service" } %></i></a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>