<div class="card" style="width: 600px">
  <iframe
    class="card-img-top"
    alt="map"
    width="600"
    height="450"
    frameborder="0" style="border:0"
    src="https://www.google.com/maps/embed/v1/place?key=<%= Rails.env == 'production' ? ENV['MAPS_API_KEY'] : Rails.application.secrets['MAPS_API_KEY'] %>&q=<%= service.latitude %>,<%= service.longitude %>&zoom=12" allowfullscreen>
  </iframe>
  <p style="font-size: 10px; margin-left:10px"><i>(Map points simply to listing's zip code)</i></p>
  <div class="card-body">
    <ul class="list-group-flush">
      <li class="list-group-item"><span class="list-group-label">USER</span><a href="<%= reviews_path(service.user.username) %>"><%= service.user.username %><%= render :partial => 'layouts/stars', :locals => { :user => service.user, :role => "service" } %></a></li>
      <li class="list-group-item"><span class="list-group-label">CONTACT</span><% if user_signed_in? %><% if service.user.show_email_service %><%= service.user.email %><% end %><% if service.user.show_email_service && service.user.show_phone_service && service.user.phone %> | <% end %><% if service.user.show_phone_service %><%= service.user.phone %><% end %><% else %>Please login to view contact information.<% end %></li>
      <li class="list-group-item"><span class="list-group-label">ZIP CODE</span><%= service.location %></li>
      <li class="list-group-item"><span class="list-group-label">RANGE</span><%= service.range %><% if service.range %> mi<% end %></li>
      <li class="list-group-item"><span class="list-group-label">AVAILABILITY</span><%= service.availability %></li>
      <li class="list-group-item"><span class="list-group-label">DESCRIPTION</span><%= service.description %></li>
      <li class="list-group-item"><span class="list-group-label">CLASSIFICATIONS</span><%= service.classifications.collect(&:name).join(", ") %></li>
      <% if current_user.try(:id) == service.user_id %>
        <li class="list-group-item"><span class="list-group-label-owner">EXPIRATION</span><% if (service.expiration - Date.today).to_i > 0 %><%= (service.expiration - Date.today).to_i %> day<% if (service.expiration - Date.today).to_i != 1 %>s<% end %><% else %>Expired<% end %></li>
        <li class="list-group-item"><span class="list-group-label-owner">POST STATUS</span><% if service.active %>Active<% else %>Inactive<% end %></li>
      <% end %>
    </ul>
    <% if user_signed_in? && current_user.id == service.user_id %>
      <div id="renew-wrapper">
        <button type="button" style="margin-top: 5px; margin-bottom: 5px" class="btn btn-outline-success" data-toggle="modal" data-target="#renewModal">Renew</button>
        <%= link_to "#{service.active ? 'Deactivate' : 'Activate'}", toggle_active_service_path(service), :class => "btn btn-outline-danger #{!service.active && (Date.today - service.expiration).to_i > 0 ? 'disabled' : ''}", :id => "toggle-active-btn", :remote => true %>
        <%= link_to "Edit", edit_service_path(service), :class => "btn btn-outline-info"  %><br>
        <% if current_user.sub_type.nil? %>
          <i style="<%= current_user.posts == "0" ? 'color: red' : '' %>"><b><%= current_user.posts %></b> post<%= current_user.posts == "1" ? "" : "s" %> remaining</i>
        <% elsif current_user.sub_type == "unlimited" %>
          <i><b>Unlimited</b> posts remaining for this month</i>
        <% end %>
        <br>
      </div>
    <% end %>
  </div>
</div>