<div id="request-form">
  <% sel_class = @request.classifications.collect(&:name) %>
  <%= f.text_field :location, :class => "form-control mr-sm-2 form-new", :placeholder => "Primary Zip Code", :disabled => @request.expiration < Date.today %>
  <%= f.number_field :range, :step => 0.1, :class => "form-control mr-sm-2 form-new", :placeholder => "Range (mi)", :disabled => @request.expiration < Date.today, :min => 0.1, :max => 35000 %>
  <%= f.text_field :timeframe, :class => "form-control mr-sm-2 form-new", :placeholder => "When service is needed", :disabled => @request.expiration < Date.today %>
  <%= f.text_area :description, :class => "form-control mr-sm-2 form-new", :placeholder => "Request description", :disabled => @request.expiration < Date.today %>
  <% if action_name == "edit" %>
    <%= f.hidden_field :expiration, :value => @request.expiration %>
  <% else %>
    <%= f.number_field :expiration, :class => "form-control mr-sm-2 form-new", :placeholder => ENV["FREE_POSTS"] == "true" ? "Weeks to keep listing active" : "Weeks to keep listing active (COST: 1 post/wk)", :disabled => @request.expiration < Date.today, :min => 1, :max => current_user.posts.to_i %>
  <% end %>
  <span id="classification-header"><b>Classifications:</b></span><%= f.collection_check_boxes :classifications, classifications, :id, :name, {} do |c| %>
    <%= c.label(class: "check_box") do %>
      <div class="col-xs-4 form_check_boxes">
        <div class="custom-control custom-switch">
          <%= c.check_box(:class => "check_box custom-control-input", :checked => sel_class.include?(c.object.name)) %><br>
          <label class="custom-control-label" for="request_classifications_<%= c.object.id %>"><%= c.object.name %></label>
        </div>
      </div>
    <% end %>
  <% end %>

  <br>
  <%= f.submit action_name == "edit" ? "Update" : "Submit request", :class => "btn btn-outline-success", :disabled => @request.expiration < Date.today %>
  <% if action_name != "edit" && ENV["FREE_POSTS"] != "true" %>
      <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#buyPostsModal" style="margin-left: 8px">
      Buy More Posts
      </button><br>
      <% if current_user.sub_type.nil? %>
        <i style="<%= current_user.posts == "0" ? 'color: red' : '' %>"><b><%= current_user.posts %></b> post<%= current_user.posts == "1" ? "" : "s" %> remaining</i>
      <% elsif current_user.sub_type == "unlimited" %>
        <i><b>Unlimited</b> posts remaining for this month</i>
      <% end %>
  <% end %>
  <br>
</div>

<!-- Buy Posts Modal -->
<div class="modal fade" id="buyPostsModal" tabindex="-1" role="dialog" aria-labelledby="buyPostsLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">Get more posts</h2>
      </div>
      <div class="modal-body">
        <%= render 'products/purchase' %>
      </div>
    </div>
  </div>
</div>

<script>
  function validateCheckboxes(){
    var cbs = Array.from(document.querySelectorAll('[type=checkbox]'));
    var checked = cbs.map(function(e){
      return e.checked;
    });
    if(checked.reduce(function(x,e){ return x * !e }, true)){
      // check 'other'
      other = cbs.filter(function(e){ return e.labels[1].innerText.trim() == "Other" })[0];

      other.checked = true
    }
  }
  // Validate form
  $(document).ready(function(){
    $('.check_box').change(validateCheckboxes);
    validateCheckboxes();
  })
</script>