<p id="notice"><%= notice %></p>

<h1>Purchase Options</h1>

<div class="container">
  <div class="row">
    <% @products.each do |product| %>
      <% num = product.name.match(/\A(\d{1,2})/) %>
      <% count = (num ? num[0] : "unlimited") %>
      <div class="col-sm-12 col-md-4 col-lg-3">
        <div class="card" style="min-width: 200px; margin-bottom: 10px">
          <div class="card-header">
            <b><%= product.name.capitalize %></b>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><%= number_to_currency(product.price/100.0, :precision => 2) %><% if count.to_i == 0 %>/month<% end %></li>
            <li class="list-group-item"><% if count.to_i > 0 %><%= number_to_currency((product.price/100.0)/count.to_i, :precision => 2) %>/post<% else %> Unlimited posts <% end %></li>
            <li class="list-group-item">
              <%= link_to "Get #{product.name}", product_path(product.id), :class => "btn btn-outline-success" %>
            </li>
          </ul>
        </div>
      </div>
    <% end %>
  </div>
</div>